@media (max-width: 375px){
  .buscador{
    flex-flow: nowrap;
    margin: auto;
  }
  .navbar-brand{
    width: 100%;
    text-align: center;
  }
  .cerrar-sesion{
    margin: auto;
  }
}

@media (max-width: 575px){
  .buscador{
    flex-flow: nowrap;
    margin: auto;
  }
  .navbar-brand{
    width: 100%;
    text-align: center;
  }
}

input{
  margin-right: 0 !important;
}

