<div class="categorias-page">
  <form #formCategoria="ngForm" class="container" (ngSubmit)="addCategoria()">
    <h1 class="text-center">Categorias</h1>
    <div class="card my-3">
      <div class="card-body">
        <input type="text" class="form-control" placeholder="Nueva Categoria" name="categoria" required [(ngModel)]="newCategoria" autofocus >
        <button [disabled]="formCategoria.invalid" type="submit" class="btn btn-primary btn-block">Agregar</button>
      </div>
      <table class="table table-striped text-center">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">
              Acciones
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let categoria of categorias;index as i">
            <th scope="row">{{i + 1}}</th>
            <td>
              {{categoria.nombre}}
            </td>
            <td class="text-right">
                  <button type="button" [routerLink]="['/categorias',categoria._id]" class="btn btn-success btn-edit"><i class="fas fa-pencil"></i></button>
                  <button type="button" (click)="deleteCategoria(categoria._id)" class="btn btn-danger"><i class="fas fa-trash"></i></button>
            </td>
          </tr>
        </tbody>
      </table>

    </div>

  </form>

</div>
