<div class="container login-page">
  <h1>Iniciar Sesión</h1>
<form>
  <!-- Email input -->
  <div class="form-outline mb-4">
    <label class="form-label" for="form2Example1">Correo electrónico</label>
    <input type="email" class="form-control" autofocus/>
  </div>

  <!-- Password input -->
  <div class="form-outline mb-4">
    <label class="form-label" for="form2Example2">Contraseña</label>
    <input type="password" class="form-control" />
  </div>

  <!-- Submit button -->
  <button type="button" class="btn btn-primary btn-block mb-4">Acceder</button>

  <div class="text-center">
    <p>Aún no te has registrado? <a routerLink="/register">da click aquí</a></p>
    <button type="button" class="btn btn-link btn-floating mx-1">
    </button>
  </div>
</form>
</div>
