<div class="container register-page">
  <h1>Registrarse</h1>
<form #registerForm="ngForm" (ngSubmit)="sumbitRegister()">
    <!-- Nombre input -->
    <div class="form-outline mb-4">
      <label class="form-label" for="nombre">Nombre</label>
      <input type="text" id="nombre" name="nombre" class="form-control" autofocus required [(ngModel)]="registerData.nombre"/>
    </div>
  <!-- Email input -->
  <div class="form-outline mb-4">
    <label class="form-label" for="correo">Correo electrónico</label>
    <input type="email" id="correo" class="form-control" required [(ngModel)]="registerData.correo" name="correo"/>
  </div>

  <!-- Password input -->
  <div class="form-outline mb-4">
    <label class="form-label" for="password">Contraseña</label>
    <input type="password" class="form-control" required [(ngModel)]="registerData.password" name="password" id="password"/>
  </div>

  <!-- Submit button -->
  <button type="submit" class="btn btn-primary btn-block mb-4" [disabled]="registerForm.invalid">Acceder</button>
</form>
</div>

